body {
    background-color: #406B2E;
    background-repeat: no-repeat;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#5CD12E), to(#406B2E)) fixed;
    background: -moz-linear-gradient(100% 100% 90deg, #406B2E, #5CD12E);
}

h1 {
    text-align: center;
    color: #fff;
}
