
[submodule "2012"]
	path = 2012
	url = git://github.com/poshaughnessy/christmascard2012.git

[submodule "2011"]
	path = 2011
	url = git://github.com/poshaughnessy/christmascard2011.git
[submodule "2010"]
	path = 2010
	url = git://github.com/poshaughnessy/christmascard2010.git
[submodule "2013"]
	path = 2013
	url = git://github.com/poshaughnessy/christmascard2013.git
